<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/root-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
      /WEB-INF/spring/appServlet/servlet-context.xml
      classpath:applicationContext2.xml
      </param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dependency1</display-name>
    <servlet-name>Dependency1</servlet-name>
    <servlet-class>org.kh.tv.controller.Dependency1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dependency1</servlet-name>
    <url-pattern>/dependency1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dependency2</display-name>
    <servlet-name>Dependency2</servlet-name>
    <servlet-class>org.kh.person.controller.Dependency2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dependency2</servlet-name>
    <url-pattern>/dependency2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeanTest1</display-name>
    <servlet-name>BeanTest1</servlet-name>
    <servlet-class>org.kh.bean.controller.BeanTest1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeanTest1</servlet-name>
    <url-pattern>/beanTest1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeanTest2</display-name>
    <servlet-name>BeanTest2</servlet-name>
    <servlet-class>org.kh.bean.controller.BeanTest2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeanTest2</servlet-name>
    <url-pattern>/beanTest2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeanTest3</display-name>
    <servlet-name>BeanTest3</servlet-name>
    <servlet-class>org.kh.bean.controller.BeanTest3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeanTest3</servlet-name>
    <url-pattern>/beanTest3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CollectionSetBean</display-name>
    <servlet-name>CollectionSetBean</servlet-name>
    <servlet-class>org.kh.bean.model.vo.CollectionSetBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectionSetBean</servlet-name>
    <url-pattern>/CollectionSetBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeanTest4</display-name>
    <servlet-name>BeanTest4</servlet-name>
    <servlet-class>org.kh.bean.controller.BeanTest4Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeanTest4</servlet-name>
    <url-pattern>/beanTest4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ano</display-name>
    <servlet-name>Ano</servlet-name>
    <servlet-class>org.kh.test.ano.AnoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ano</servlet-name>
    <url-pattern>/ano</url-pattern>
  </servlet-mapping>
</web-app>