<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<body>
<h1>좋아하는 관광지를 선택하시오 (다중 가능)</h1><hr>
<form action="/web1/servlet" method="get">
<input type="checkbox" name="check" value="제주도">제주도
<input type="checkbox" name="check" value="경복궁">경복궁
<input type="checkbox" name="check" value="설악산">설악산<br>
<input type="checkbox" name="check" value="월미도">월미도
<input type="checkbox" name="check" value="부산">부산
<input type="checkbox" name="check" value="포항">포항<br>
<input type="submit" value="전송"><input type="reset" value="취소">
</form>
</body>
</html>