<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="/web1/radio" method="get">
성별 : <input type="radio" name="sex" value="남자" checked="checked">남자 <input type="radio" name="sex" value="여자">여자<br>
메일 정보 수신 여부 : <input type="radio" name="email" value="yes" checked="checked">수신 <input type="radio" name="email" value="no">거부<br>
가입 인사를 작성해주세요<br>
<textarea rows="5" cols="35" name="content"></textarea><br>
<input type="submit" value="전송"><input type="reset" value="취소">
</form>
</body>
</html>